!!!
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    // auto reload script
    //script(src='http://localhost:8001/vogue-client.js', type='text/javascript')

    include ../includes/styles

  body!= body
