!!!
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    include ../includes/styles
    include ../includes/jslibs

    include ../tmpl/feed
    include ../tmpl/post

    script!= javascript

  body!= body

