script(id='feed-template', type='text/html')
  div.header
    div.unselectable.delete.iconic(title='unsubscribe') X
    div.unselectable.vis.item-vis.iconic(title='toggle feed visibility') y
    div.text
      h4.title
        a.title(href='{{link}}') {{title}}
      h4.author {{authorText}}
  h5.description {{{description}}}

