script(id='post-template', type='text/html')
  div.post-content.collapsed
    div.header
      div.header-inner
        span.right
          h5.date {{dateStr}}
          a.unselectable.iconic(href='{{link}}', target='_blank', title='open blog in new window') 1
        div.left
          span.flag.unselectable.iconic s
          h5.feed-title {{feedTitle}}
        h5.title {{{title}}}
    div.description {{{description}}}

