script(id='post-template', type='text/html')
  div.post-content.collapsed
    div.header
      div.header-inner
        div.top-bar
          div.right
            h5.date {{dateStr}}
          div.left
            span.toggle-top.unselectable.iconic =
            a.post-link.unselectable.iconic(href='{{link}}', target='_blank', title='open blog in new window') 1
            span.flag.unselectable.iconic s
            h5.feed-title {{feedTitle}}
        div
          img.loader(src='/images/ajax-loader6.gif')
        h5.title {{{title}}}
    div.description 
      span.content {{{description}}}
      div.bottom-bar
        div.left
          span.toggle-bottom.unselectable.iconic _
