script(id='post-template', type='text/html')
  div
    a.feed(href='{{feedLink}}') {{feedTitle}}
    a.post(href='{{link}}') {{title}}
    span {{date}}
    a.iconic.new-window(href='{{link}}')
    div {{{description}}}

