#posts-content .post-content{margin-top:5px;margin-bottom:10px}
#posts-content .collapsed .header{border:1px solid color-sienna;padding:10px 10px 10px 10px}
#posts-content .collapsed .header:hover{border:1px solid color-khaki}
#posts-content .collapsed .header-inner{padding:0;}
#posts-content .collapsed .description{display:none}
#posts-content .expanded .header{padding:10px 10px 5px 10px}
#posts-content .expanded .header-inner{padding-bottom:10px;}
#posts-content .header{border:1px solid color-sienna;border-bottom:0;cursor:pointer}
#posts-content .description{border:1px solid color-sienna;border-top:0;padding:10px}
#posts-content .left{display:inline-block}
#posts-content h4 a{text-decoration:none;cursor:normal;color:color-heading;pointer-events:none}
#posts-content h5{color:color-khaki}
#posts-content .right{float:right;display:inline-block;}
#posts-content .right .date{display:inline-block;margin-right:10px;color:color-khaki}
#posts-content .right .iconic{color:color-sienna;font-size:1.5em;text-decoration:none}
#posts-content .right .iconic:hover{color:color-khaki;cursor:pointer}
