
/* line 419 : /apps/blogmon/node_modules/nib/lib/nib/vendor.styl */

/* line 419 : /apps/blogmon/node_modules/nib/lib/nib/config.styl */

/* line 3 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */

/* line 4 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 14 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

/* line 16 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
ol,
ul {
  list-style: none;
}

/* line 18 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 20 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
a img {
  border: none;
}

/* line 26 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 32 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 34 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 36 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
a img {
  border: none;
}

/* line 46 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
font-weight: inherit;

/* line 47 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
font-style: inherit;

/* line 48 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
font-family: inherit;

/* line 49 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
font-size: 100%;

/* line 51 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
vertical-align: baseline;

/* line 40 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
margin: 0;

/* line 41 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
padding: 0;

/* line 42 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
border: 0;

/* line 44 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
outline: 0;

/* line 53 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
line-height: 1;

/* line 54 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
color: #000;

/* line 56 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
background: #fff;

/* line 58 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
border-collapse: separate;

/* line 59 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
border-spacing: 0;

/* line 61 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
vertical-align: middle;

/* line 63 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
text-align: left;

/* line 64 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
font-weight: normal;

/* line 66 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
vertical-align: middle;

/* line 68 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
