input[type="text"]::selection{color:color-black;background:color-font}
input[type="password"]::selection{color:color-black;background:color-font}
input[type="email"]::selection{color:color-black;background:color-font}
textarea::selection{color:color-black;background:color-font}
span::selection{color:color-black;background:color-font}
div::selection{color:color-black;background:color-font}
p::selection{color:color-black;background:color-font}
a::selection{color:color-black;background:color-font}
h1::selection{color:color-black;background:color-font}
h2::selection{color:color-black;background:color-font}
h3::selection{color:color-black;background:color-font}
h4::selection{color:color-black;background:color-font}
h5::selection{color:color-black;background:color-font}
input[type="text"]::-moz-selection{color:color-black;background:color-font}
input[type="password"]::-moz-selection{color:color-black;background:color-font}
input[type="email"]::-moz-selection{color:color-black;background:color-font}
textarea::-moz-selection{color:color-black;background:color-font}
span::-moz-selection{color:color-black;background:color-font}
div::-moz-selection{color:color-black;background:color-font}
p::-moz-selection{color:color-black;background:color-font}
a::-moz-selection{color:color-black;background:color-font}
h1::-moz-selection{color:color-black;background:color-font}
h2::-moz-selection{color:color-black;background:color-font}
h3::-moz-selection{color:color-black;background:color-font}
h4::-moz-selection{color:color-black;background:color-font}
h5::-moz-selection{color:color-black;background:color-font}
input[type="text"]::-webkit-selection{color:color-black;background:color-font}
input[type="password"]::-webkit-selection{color:color-black;background:color-font}
input[type="email"]::-webkit-selection{color:color-black;background:color-font}
textarea::-webkit-selection{color:color-black;background:color-font}
span::-webkit-selection{color:color-black;background:color-font}
div::-webkit-selection{color:color-black;background:color-font}
p::-webkit-selection{color:color-black;background:color-font}
a::-webkit-selection{color:color-black;background:color-font}
h1::-webkit-selection{color:color-black;background:color-font}
h2::-webkit-selection{color:color-black;background:color-font}
h3::-webkit-selection{color:color-black;background:color-font}
h4::-webkit-selection{color:color-black;background:color-font}
h5::-webkit-selection{color:color-black;background:color-font}
