
/* line 419 : /apps/blogmon/node_modules/nib/lib/nib/vendor.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/apps\/blogmon\/node_modules\/nib\/lib\/nib\/vendor\.styl}line{font-family:\00003419}}

/* line 419 : /apps/blogmon/node_modules/nib/lib/nib/config.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/apps\/blogmon\/node_modules\/nib\/lib\/nib\/config\.styl}line{font-family:\00003419}}

/* line 12 : /apps/blogmon/pub/stylesheets/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/apps\/blogmon\/pub\/stylesheets\/reset\.styl}line{font-family:\0000312}}

/* line 419 : /apps/blogmon/node_modules/nib/lib/nib/config.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/apps\/blogmon\/node_modules\/nib\/lib\/nib\/config\.styl}line{font-family:\00003419}}
 {


  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1;
  color: #000;
  background: #fff;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 419 : /apps/blogmon/node_modules/nib/lib/nib/vendor.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/apps\/blogmon\/node_modules\/nib\/lib\/nib\/vendor\.styl}line{font-family:\00003419}}

/* line 419 : /apps/blogmon/node_modules/nib/lib/nib/config.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/apps\/blogmon\/node_modules\/nib\/lib\/nib\/config\.styl}line{font-family:\00003419}}

/* line 3 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/apps\/blogmon\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\000033}}

/* line 4 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/apps\/blogmon\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\000034}}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 14 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/apps\/blogmon\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000314}}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

/* line 16 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/apps\/blogmon\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000316}}
ol,
ul {
  list-style: none;
}

/* line 18 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/apps\/blogmon\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000318}}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 20 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/apps\/blogmon\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000320}}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/apps\/blogmon\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000322}}
a img {
  border: none;
}

/* line 26 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/apps\/blogmon\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000326}}
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 32 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/apps\/blogmon\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000332}}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 34 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/apps\/blogmon\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000334}}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 36 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/apps\/blogmon\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000336}}
a img {
  border: none;
}

/* line 68 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/apps\/blogmon\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000368}}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

/* line 4 : /apps/blogmon/pub/stylesheets/site.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/apps\/blogmon\/pub\/stylesheets\/site\.styl}line{font-family:\000034}}
div {
  -webkit-box-sizing: border-box();
  -moz-box-sizing: border-box();
  box-sizing: border-box();
}

/* line 7 : /apps/blogmon/pub/stylesheets/site.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/apps\/blogmon\/pub\/stylesheets\/site\.styl}line{font-family:\000037}}
a {
  font-weight: bold;
  color: #91f;
}
