
/* line 419 : /apps/blogmon/node_modules/nib/lib/nib/vendor.styl */

/* line 419 : /apps/blogmon/node_modules/nib/lib/nib/config.styl */

/* line 12 : /apps/blogmon/pub/stylesheets/reset.styl */

/* line 419 : /apps/blogmon/node_modules/nib/lib/nib/config.styl */
 {


  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1;
  color: #000;
  background: #fff;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 419 : /apps/blogmon/node_modules/nib/lib/nib/vendor.styl */

/* line 419 : /apps/blogmon/node_modules/nib/lib/nib/config.styl */

/* line 3 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */

/* line 4 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 14 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

/* line 16 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
ol,
ul {
  list-style: none;
}

/* line 18 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 20 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
a img {
  border: none;
}

/* line 26 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 32 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 34 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 36 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
a img {
  border: none;
}

/* line 68 : /apps/blogmon/node_modules/nib/lib/nib/reset.styl */
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

/* line 5 : /apps/blogmon/pub/stylesheets/grid1140.styl */

/* line 5 : /apps/blogmon/pub/stylesheets/grid1140.styl */
.container {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 9 : /apps/blogmon/pub/stylesheets/grid1140.styl */
.row {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 16 : /apps/blogmon/pub/stylesheets/grid1140.styl */
.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}

/* line 21 : /apps/blogmon/pub/stylesheets/grid1140.styl */
.row .onecol {
  width: 4.85%;
}

/* line 24 : /apps/blogmon/pub/stylesheets/grid1140.styl */
.row .twocol {
  width: 13.45%;
}

/* line 27 : /apps/blogmon/pub/stylesheets/grid1140.styl */
.row .threecol {
  width: 22.05%;
}

/* line 30 : /apps/blogmon/pub/stylesheets/grid1140.styl */
.row .fourcol {
  width: 30.75%;
}

/* line 33 : /apps/blogmon/pub/stylesheets/grid1140.styl */
.row .fivecol {
  width: 39.45%;
}

/* line 36 : /apps/blogmon/pub/stylesheets/grid1140.styl */
.row .sixcol {
  width: 48%;
}

/* line 39 : /apps/blogmon/pub/stylesheets/grid1140.styl */
.row .sevencol {
  width: 56.75%;
}

/* line 42 : /apps/blogmon/pub/stylesheets/grid1140.styl */
.row .eightcol {
  width: 65.4%;
}

/* line 45 : /apps/blogmon/pub/stylesheets/grid1140.styl */
.row .ninecol {
  width: 74.05%;
}

/* line 48 : /apps/blogmon/pub/stylesheets/grid1140.styl */
.row .tencol {
  width: 82.7%;
}

/* line 51 : /apps/blogmon/pub/stylesheets/grid1140.styl */
.row .elevencol {
  width: 91.35%;
}

/* line 54 : /apps/blogmon/pub/stylesheets/grid1140.styl */
.row .twelvecol {
  width: 100%;
  float: left;
}

/* line 58 : /apps/blogmon/pub/stylesheets/grid1140.styl */
.last {
  margin-right: 0px;
}

/* line 61 : /apps/blogmon/pub/stylesheets/grid1140.styl */
img,
object,
embed {
  max-width: 100%;
}

/* line 64 : /apps/blogmon/pub/stylesheets/grid1140.styl */
img {
  height: auto;
}
@media only screen and (max-width: 1023px) {

/* line 68 : /apps/blogmon/pub/stylesheets/grid1140.styl */
  body {
    font-size: 1em;
    line-height: 1em;
  }
}
@media handheldonly screen and (max-width: 767px) {

/* line 73 : /apps/blogmon/pub/stylesheets/grid1140.styl */
  body {
    font-size: 16px;
    -webkit-text-size-adjust: none;
  }

/* line 77 : /apps/blogmon/pub/stylesheets/grid1140.styl */
  .row,
  body,
  .container {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

/* line 85 : /apps/blogmon/pub/stylesheets/grid1140.styl */
  .row .onecol,
  .row .twocol,
  .row .threecol,
  .row .fourcol,
  .row .fivecol,
  .row .sixcol,
  .row .sevencol,
  .row .eightcol,
  .row .ninecol,
  .row .tencol,
  .row .elevencol,
  .row .twelvecol {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* line 93 : /apps/blogmon/pub/stylesheets/typography.styl */

/* line 1 : /apps/blogmon/pub/stylesheets/typography.styl */
body {
  background: none repeat scroll 0 0 #2f2f2f;
  font-family: 'Lucinda Grande', Arial, sans-serif;
  color: #c6c6c6;
  line-height: 1.45em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* line 9 : /apps/blogmon/pub/stylesheets/typography.styl */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: 'MuseoSans500', serif;
  font-weight: italic;
}

/* line 14 : /apps/blogmon/pub/stylesheets/typography.styl */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}

/* line 17 : /apps/blogmon/pub/stylesheets/typography.styl */
h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 14px;
}

/* line 22 : /apps/blogmon/pub/stylesheets/typography.styl */
h2 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px;
}

/* line 27 : /apps/blogmon/pub/stylesheets/typography.styl */
h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px;
}

/* line 32 : /apps/blogmon/pub/stylesheets/typography.styl */
h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px;
}

/* line 37 : /apps/blogmon/pub/stylesheets/typography.styl */
h5 {
  font-size: 17px;
  line-height: 24px;
}

/* line 41 : /apps/blogmon/pub/stylesheets/typography.styl */
h6 {
  font-size: 14px;
  line-height: 21px;
}

/* line 45 : /apps/blogmon/pub/stylesheets/typography.styl */
.subheader {
  color: #777;
}

/* line 48 : /apps/blogmon/pub/stylesheets/typography.styl */
p {
  margin: 0 0 20px 0;
}

/* line 51 : /apps/blogmon/pub/stylesheets/typography.styl */
p img {
  margin: 0;
}

/* line 54 : /apps/blogmon/pub/stylesheets/typography.styl */
p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777;
}

/* line 59 : /apps/blogmon/pub/stylesheets/typography.styl */
em {
  font-style: italic;
}

/* line 62 : /apps/blogmon/pub/stylesheets/typography.styl */
strong {
  font-weight: bold;
  color: #fff;
}

/* line 66 : /apps/blogmon/pub/stylesheets/typography.styl */
small {
  font-size: 80%;
}

/* line 69 : /apps/blogmon/pub/stylesheets/typography.styl */
blockquote,
blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic;
}

/* line 75 : /apps/blogmon/pub/stylesheets/typography.styl */
blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}

/* line 80 : /apps/blogmon/pub/stylesheets/typography.styl */
blockquote cite {
  display: block;
  font-size: 12px;
  color: #555;
}

/* line 85 : /apps/blogmon/pub/stylesheets/typography.styl */
blockquote cite:before {
  content: "\2014 \0020";
}

/* line 88 : /apps/blogmon/pub/stylesheets/typography.styl */
blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited {
  color: #555;
}

/* line 91 : /apps/blogmon/pub/stylesheets/typography.styl */
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

/* line 98 : /apps/blogmon/pub/stylesheets/typography.styl */
a,
a:visited {
  color: #84bcde;
  text-decoration: underline;
  outline: 0;
}

/* line 103 : /apps/blogmon/pub/stylesheets/typography.styl */
a:hover,
a:focus {
  color: #6495ed;
}

/* line 106 : /apps/blogmon/pub/stylesheets/typography.styl */
p a,
p a:visited {
  line-height: inherit;
}

/* line 96 : /apps/blogmon/pub/stylesheets/iconic.styl */

/* line 2 : /apps/blogmon/node_modules/nib/lib/nib/iconic.styl */
@font-face {
  font-family: 'IconicStroke';
  src: url("../fonts/iconic_stroke.eot");
  src: local('☺'), url("../fonts/iconic_stroke.ttf") format('truetype'), url("../fonts/iconic_stroke.svg#iconic") format('svg');
  font-weight: normal;
  font-style: normal;
}

/* line 5 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic {
  font-family: "IconicStroke";
  font-size: 1em;
}

/* line 9 : /apps/blogmon/pub/stylesheets/iconic.styl */
a.iconic,
a.iconic:hover {
  color: #c6c6c6;
  text-decoration: none;
  cursor: pointer;
}

/* line 15 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.home:before {
  content: '!';
}

/* line 16 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.at:before {
  content: "@";
}

/* line 17 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.quote:before {
  content: '"';
}

/* line 18 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.quote-alt:before {
  content: "'";
}

/* line 19 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.arrow-up:before {
  content: "3";
}

/* line 20 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.arrow-right:before {
  content: "4";
}

/* line 21 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.arrow-bottom:before {
  content: "5";
}

/* line 22 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.arrow-left:before {
  content: "6";
}

/* line 23 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.arrow-up-alt:before {
  content: "#";
}

/* line 24 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.arrow-right-alt:before {
  content: "$";
}

/* line 25 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.arrow-bottom-alt:before {
  content: "%";
}

/* line 26 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.arrow-left-alt:before {
  content: "^";
}

/* line 27 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.move:before {
  content: "9";
}

/* line 28 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.move-vertical:before {
  content: "8";
}

/* line 29 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.move-horizontal:before {
  content: "7";
}

/* line 30 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.move-alt:before {
  content: "(";
}

/* line 31 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.move-vertical-alt:before {
  content: "*";
}

/* line 32 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.move-horizontal-alt:before {
  content: "&";
}

/* line 33 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.cursor:before {
  content: ")";
}

/* line 34 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.plus:before {
  content: "+";
}

/* line 35 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.plus-alt:before {
  content: "=";
}

/* line 36 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.minus:before {
  content: "-";
}

/* line 37 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.minus-alt:before {
  content: "_";
}

/* line 38 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.new-window:before {
  content: "1";
}

/* line 39 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.dial:before {
  content: "2";
}

/* line 40 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.lightbulb:before {
  content: "0";
}

/* line 41 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.link:before {
  content: "/";
}

/* line 42 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.image:before {
  content: "?";
}

/* line 43 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.article:before {
  content: ">";
}

/* line 44 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.read-more:before {
  content: ".";
}

/* line 45 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.headphones:before {
  content: ",";
}

/* line 46 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.equalizer:before {
  content: "<";
}

/* line 47 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.fullscreen:before {
  content: ":";
}

/* line 48 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.exit-fullscreen:before {
  content: ";";
}

/* line 49 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.spin:before {
  content: "[";
}

/* line 50 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.spin-alt:before {
  content: "{";
}

/* line 51 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.moon:before {
  content: "]";
}

/* line 52 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.sun:before {
  content: "}";
}

/* line 53 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.pin:before {
  content: "|";
}

/* line 54 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.eyedropper:before {
  content: "~";
}

/* line 55 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.denied:before {
  content: "`";
}

/* line 56 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.calendar:before {
  content: "a";
}

/* line 57 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.calendar-alt:before {
  content: "A";
}

/* line 58 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.bolt:before {
  content: "b";
}

/* line 59 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.clock:before {
  content: "c";
}

/* line 60 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.document:before {
  content: "d";
}

/* line 61 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.book:before {
  content: "e";
}

/* line 62 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.book-alt:before {
  content: "E";
}

/* line 63 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.magnifying-glass:before {
  content: "f";
}

/* line 64 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.tag:before {
  content: "g";
}

/* line 65 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.heart:before {
  content: "h";
}

/* line 66 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.info:before {
  content: "i";
}

/* line 67 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.chat:before {
  content: "j";
}

/* line 68 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.chat-alt:before {
  content: "J";
}

/* line 69 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.key:before {
  content: "k";
}

/* line 70 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.unlocked:before {
  content: "l";
}

/* line 71 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.locked:before {
  content: "L";
}

/* line 72 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.mail:before {
  content: "m";
}

/* line 73 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.mail-alt:before {
  content: "M";
}

/* line 74 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.phone:before {
  content: "n";
}

/* line 75 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.box:before {
  content: "o";
}

/* line 76 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.pencil:before {
  content: "p";
}

/* line 77 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.pencil-alt:before {
  content: "P";
}

/* line 78 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.comment:before {
  content: "q";
}

/* line 79 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.comment-alt:before {
  content: "Q";
}

/* line 80 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.rss:before {
  content: "r";
}

/* line 81 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.star:before {
  content: "s";
}

/* line 82 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.trash:before {
  content: "t";
}

/* line 83 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.user:before {
  content: "u";
}

/* line 84 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.volume:before {
  content: "v";
}

/* line 85 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.mute:before {
  content: "V";
}

/* line 86 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.cog:before {
  content: "w";
}

/* line 87 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.cog-alt:before {
  content: "W";
}

/* line 88 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.x:before {
  content: "x";
}

/* line 89 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.x-alt:before {
  content: "X";
}

/* line 90 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.check:before {
  content: "y";
}

/* line 91 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.check-alt:before {
  content: "Y";
}

/* line 92 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.beaker:before {
  content: "z";
}

/* line 93 : /apps/blogmon/pub/stylesheets/iconic.styl */
.iconic.beaker-alt:before {
  content: "Z";
}

/* line 2 : /apps/blogmon/pub/stylesheets/util.styl */

/* line 8 : /apps/blogmon/pub/stylesheets/site.styl */
.banner {
  border-bottom: 4px solid #121212;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.07);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.07);
  box-shadow: 0 1px 0 rgba(255,255,255,0.07);
}
