#loader{-moz-transform-origin:26px -6px;-webkit-transform-origin:27px -6px;-o-transform-origin:26px -6px;-ms-transform-origin:26px -6px}
#feeds-list div.delete{border-radius:20px;padding:6px 2px 2px 6px}
#feeds-list div.delete:hover{border:1px solid color-red}
