
/* line 1 : /apps/blogmon/pub/stylesheets/tabs.styl */
ul.tabs {
  display: block;
  padding: 0;
}

/* line 5 : /apps/blogmon/pub/stylesheets/tabs.styl */
ul.tabs li {
  display: block;
  width: auto;
  float: left;
  margin-bottom: 0;
}

/* line 11 : /apps/blogmon/pub/stylesheets/tabs.styl */
ul.tabs li a {
  display: block;
  text-decoration: none;
  width: auto;
  color: color-font;
  margin: 1px solid color-font;
  padding: 5px 20px;
}

/* line 19 : /apps/blogmon/pub/stylesheets/tabs.styl */
ul.tabs li a.active {
  position: relative;
  color: color-tab-active;
  background: none repeat scroll 0 0 rgba(0,0,0,0.30);
}

/* line 25 : /apps/blogmon/pub/stylesheets/tabs.styl */
ul.tabs li:first-child a.active {
  margin-left: 0;
}

/* line 28 : /apps/blogmon/pub/stylesheets/tabs.styl */
ul.tabs li:first-child a {
  border-width: 1px 1px 0 1px;
  border-radius: top-left 2px;
}

/* line 32 : /apps/blogmon/pub/stylesheets/tabs.styl */
ul.tabs li:last-child a {
  border-radius: top-right 2px;
}

/* line 35 : /apps/blogmon/pub/stylesheets/tabs.styl */
ul.tabs-content {
  margin: 0;
  display: block;
}

/* line 39 : /apps/blogmon/pub/stylesheets/tabs.styl */
ul.tabs-content > li {
  display: none;
}

/* line 42 : /apps/blogmon/pub/stylesheets/tabs.styl */
ul.tabs-content > li.active {
  display: block;
}

/* line 45 : /apps/blogmon/pub/stylesheets/tabs.styl */
ul.tabs:before,
ul.tabs:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 54 : /apps/blogmon/pub/stylesheets/tabs.styl */
ul.tabs:after {
  clear: both;
}

/* line 57 : /apps/blogmon/pub/stylesheets/tabs.styl */
ul.tabs {
  zoom: 1;
}
