#banner
  line(bottom, 3px)
  background linear-gradient(top, color-background-light, color-background)

  padding-top 10px

  h3.main
    display inline-block
    color color-sienna
    margin-left 5px

  h3.info
    float right
    display inline-block
    margin-right 5px

  a
    color color-khaki


