#feeds-edit
  border 1px solid color-link
  padding 10px 20px 20px 20px

  input.search
    font-family font-input
    padding 5px
    width 100%
    margin 10px 0 10px 0
    font-size 16px

  div.button
    font-family font-input

  div.button.search.processing
    border 1px solid color-sienna
    color color-sienna

#feeds-list
  border 1px solid color-link
  padding 10px
  margin-bottom 40px
  margin-top 5px

  li
    padding 10px
    line('bottom', 1px)

  li:last-child
    line-clear()

  li.list-header
    line('bottom', 2px)
    margin-bottom 30px

    .header
      display inline-block
      color color-heading

  .iconic
    display inline-block
    cursor pointer
    padding-top 10px

  .delete
    font-size icon-size-large
    padding-right 2px
    float right
    color color-input-light

  .delete:hover
    color color-red

  .vis
    font-size icon-size
    padding-right 20px
    padding-left 10px
    color color-light-green

  .vis.unchecked
    color color-input-light

  .vis.partial
    color color-gray-green

  .header-vis
    padding-right 40px

  .feed-link
    font-size icon-size
    text-decoration none
    color color-font

  .feed-link:hover
    color color-link

  .text
    display inline

  .title
    display inline
    text-decoration none
    color color-font

  .author
    padding-right 10px
    display inline
    color color-wheat

  .unread
    padding-right 10px
    display inline
    color color-white

  .description
    display none

  .description.error
    display inline-block
    color color-red
