#feeds-edit
  input.search
    padding 5px 10px 5px 10px
    width 300px
    margin 10px 0 10px 0
    font-size 16px

  div.button.search.processing
    border 1px solid color-sienna
    color color-sienna

#feeds-list
  li
    margin 15px 0 10px 0
    padding 10px
    border 1px solid color-link

  li:last-child
    margin-bottom 30px

  input.view
    display none

  a.title
    font-family font-heading

  div.header
    display block

  div.text
    display inline

  div.delete
    font-size icon-size
    display inline-block
    float right

  div.delete:hover
    color color-red

  h4.title
    display inline

  h4.author
    padding-right 10px
    display inline
    color color-wheat

  h5.description
    display inline-block
    color color-font

  h5.description.error
    color color-red
