.login input[type='text'], input[type='password']
  width 100%
  font-size 1.5em
  margin 2px 0 5px 0
  padding 2px 0 2px 5px

.login input[type='submit']
  padding 10px
  margin-top 10px
  font-size 1.2em
  background linear-gradient(top, #8B8989, #333333)

.login input[type='text'], input[type='password']
    border 1px solid color-sienna

.login div.message
  padding 10px

.login span
  display block
  font-size 1em
  text-align center

.login
    .error
        color red

.login
    .warn
      color yellow

.login
    .info
      color #6495ed

.login a.signup
  float right
  margin-top 10px
