.tabs 
  padding: 0
  display: inline-block
  float: left

.tabs a
  display: inline-block
  text-decoration: none
  border: 1px solid color-black
  color: color-font
  padding: 5px 20px

.tabs a.active
  color: color-tab-active
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3)
  box-shadow(tab-active-shadow)

#tabs-nav-container
  clear both
  display table
  text-align center

#tabs-nav
  width 169px
  padding 20px 0 20px 0
  margin-left auto
  margin-right auto
