#posts-content
    .description
        .content
            p, div, span
                color color-font !important

            h1, h2, h3, h4, h5, h6
                color color-heading !important
                font-family font-main !important
                font-size 21px !important
            
            code
                color color-wheat !important

            a
            img
            div
            object
            video
              margin 0 !important
              padding 0 !important
              width auto !important
              height auto !important
              max-width 100% !important
             


