#posts-content
  .post-content
    margin-top 5px
    margin-bottom 10px

  .description
    a
    img
    div
    embed
    object
    video
      margin 0 !important
      padding 0 !important
      width auto !important
      height auto !important
      max-width 100% !important

  .collapsed
    .header
      border 1px solid color-sienna
      padding 10px 10px 10px 10px
    .header:hover
      border 1px solid color-khaki
    .header-inner
      padding 0
      line-clear()
    .description
      display none

  .expanded
    .header
      padding 10px 10px 5px 10px
    .header-inner
      padding-bottom 10px
      line('bottom', 1px)

  .header
    border 1px solid color-sienna
    border-bottom 0
    cursor pointer

  .description
    border 1px solid color-sienna
    border-top 0
    padding 10px

  div.left
    display block

    span.flag
      display inline-block
      font-size icon-size
      color color-star-inactive
      padding-right 5px

    span.flag.red
      color color-orange-red

    span.flag.blue
      color color-light-blue2

    h5
      display inline

  h4
    a
      text-decoration none
      cursor normal
      color color-heading
      pointer-events none

  h5
    color color-khaki

  .right
    float right
    display block

    .date
      display inline-block
      margin-right 10px
      color color-khaki

    .iconic
      color color-sienna
      font-size icon-size
      text-decoration none

    .iconic:hover
      color color-khaki
      cursor pointer

