@keyframes rotate {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

#posts-content
  margin-bottom 20px

  #loader
    display none
    line-height 0
    z-index 10
    font-size 80px
    color color-khaki

    position fixed
    bottom 40px
    right 40px

    animation(rotate)
    animation-duration(1.0s)
    animation-iteration-count(infinite)
    animation-timing-function(linear)

  .post-content
    margin-top 5px
    margin-bottom 10px

  .description
    .content
      a
      img
      div
      object
      video
        margin 0 !important
        padding 0 !important
        width auto !important
        height auto !important
        max-width 100% !important

  .collapsed
    .header
      border 1px solid color-sienna
      padding 10px 10px 10px 10px
    .header-inner
      padding 0
      line-clear()
    .description
    .loader
      display none

  .collapsed.processing
    background color-font
    .loader
      display block
      float left
      margin 0 10px 0 0
      z-index 10

  .expanded
    .header
      padding 10px 10px 5px 10px
    .header-inner
      padding-bottom 10px
      line('bottom', 1px)
    .loader
      display none

  .header
    border 1px solid color-sienna
    border-bottom 0
    cursor pointer

  .description
    border 1px solid color-sienna
    border-top 0
    padding 10px

    span.content
      display block
      margin-bottom 5px

  .title
     a
        text-decoration none
        cursor normal
        color color-heading
        pointer-events none

  .toggle-top:hover
  .toggle-bottom:hover
  .post-link:hover
    color color-khaki

  .flag
  .toggle-top
  .toggle-bottom
  .post-link
    display inline-block
    color color-font
    text-decoration none
    margin-right 5px
    font-size icon-size
    padding 7px 2px 2px 10px
    cursor pointer

  .toggle-top
  .toggle-bottom
    padding-right 10px

  .flag
    color color-star-inactive

  .flag.red
    color color-orange-red

  .flag.blue
    color color-link
  
  .flag.gray
    color color-gray

  .bar
    background color-post-bar
    padding-bottom 2px

  div.bottom-bar
    .left
      display block
      padding-left 3px

  div.top-bar
    margin-bottom 5px

    .bar-text
      display inline-block
      line-height 1em
      vertical-align top
      padding-top 7px
  
    .left
      display block
      padding-left 3px

      .feed-title
        color color-khaki
  
    .right
      display block
      float right

      .date
        color color-font
        margin-right 5px
