#search
  border 1px solid color-khaki
  margin-top 5px
  padding 10px

  div.header
    margin 20px 0 10px 0
    padding-bottom 10px
    line(bottom, 2px)

  a.close
    float right
    text-decoration none
    color color-input

  li
    padding 10px 0 10px 0
    line(bottom, 1px)

    div.subscribe
      margin-top 5px

    div.subscribe:hover
      color color-green
      border 1px solid color-green
