accepted-style()
  color color-light-green
  border 1px solid color-light-green

#search
  border 1px solid color-khaki
  margin-top 5px
  padding 10px

  div.header
    margin 20px 0 10px 0
    padding-bottom 10px
    line(bottom, 2px)

  a.close
    float right
    text-decoration none
    color color-input

  li
    padding 10px 0 10px 0
    line(bottom, 1px)

    div.subscribe
      margin-top 5px

    div.subscribe.accepted
      accepted-style()
      cursor default

    div.subscribe.accepted:hover
      accepted-style()

    div.subscribe:hover
      color color-green
      border 1px solid color-green

    span.iconic
      display none

    span.iconic.accepted
      display inline
      padding-left 5px
      color color-light-green

  li:last-child
    line-clear()
