@import 'nib'
@import 'nib/vendor'
@import 'nib/reset'

global-reset()
nested-reset()
reset-font()
reset-box-model()
reset-body()
reset-table()
reset-table-cell()
reset-html5()

div
  box-sizing border-box()

a
  font-weight bold
