@import 'nib/vendor'
@import './variables'
@import './util'
@import './reset'
@import './fonts'
@import './grid96016'
@import './typography'
@import './tabs'

#banner
  line(bottom, 3px, solid)

  padding-top 10px

  h3.main
    display inline-block
    color color-sienna

  h3.info
    float right
    display inline-block

  a
    color color-khaki

#tabs-nav
  width 100%
  padding 20px 0 20px 0
  margin-left auto
  margin-right auto
  display inline-block
  line(bottom, 1px, solid)

#posts-content
  margin-top 30px

  .post-content
    margin-top 5px
    margin-bottom 10px

  .collapsed
    .header
      border 1px solid color-sienna
      padding 10px 10px 10px 10px
    .header:hover
      border 1px solid color-khaki
    .header-inner
      padding 0
      line('', 0, 0)
    .description
      display none

  .expanded
    .header
      padding 10px 10px 5px 10px
    .header-inner
      padding-bottom 10px
      line('bottom', 1px, solid)

  .header
    border 1px solid color-sienna
    border-bottom 0

  .description
    border 1px solid color-sienna
    border-top 0
    padding 10px

