ul.tabs
  display: block
  padding: 0

ul.tabs li
  display: block
  width: auto
  float: left
  border 1px solid color-black

ul.tabs li a
  display: block
  text-decoration: none
  width: auto
  color: color-font
  padding: 5px 20px

ul.tabs li a.active
  position: relative
  color: color-tab-active
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3)
  box-shadow(tab-active-shadow)

ul.tabs li:first-child a.active
  margin-left: 0

ul.tabs-content
  margin: 0
  display: block

ul.tabs:after
  clear: both

ul.tabs
  zoom: 1


