color-white         = #FFFFFF
color-black         = #000000
color-alice-blue    = #F0F8FF
color-wheat         = #DADBB1
color-antique-white = #FAEBD7
color-orange        = #FFA500
color-orange-red    = #FF4500
color-sienna        = #FF8247
color-yellow        = #FFFF00
color-gold          = #FFD700
color-green         = #00FF00
color-green2        = #00EE00
color-green-yellow  = #ADFF2F
color-lawn-green    = #7CFC00
color-khaki         = #F0E68C
color-light-salmon  = #FFA07A


color-background = #2F2F2F
color-font       = #C6C6C6
color-heading    = color-white
color-subheader  = #777777
color-link       = #84BCDE
color-link-hover = color-alice-blue

font-main    = 'Lucinda Grande', Arial, sans-serif
font-heading = 'MuseoSans500', serif
