color-white         = #FFFFFF
color-black         = #000000
color-alice-blue    = #F0F8FF
color-wheat         = #DADBB1
color-antique-white = #FAEBD7
color-orange        = #FFA500
color-orange-red    = #FF4500
color-sienna        = #FF8247
color-yellow        = #FFFF00
color-gold          = #FFD700
color-green         = #00FF00
color-green2        = #00EE00
color-green-yellow  = #ADFF2F
color-lawn-green    = #7CFC00
color-khaki         = #F0E68C
color-light-salmon  = #FFA07A
color-light-blue    = #ADD8E6
color-light-blue2   = #B2DFEE
color-red           = #FF0000
color-light-green   = #90EE90
color-gray          = #BEBEBE


color-star-inactive = #3E3E3E
color-background    = #2F2F2F
color-font          = #C6C6C6
color-heading       = color-white
color-subheader     = #777777
color-link          = #84BCDE
color-link-hover    = color-alice-blue
color-active        = #DBDBDB
color-active2       = #EEEEEE
color-input-light   = #6E6E6E
color-input-dark    = rgba(0, 0, 0, 0.8)

icon-size = 26px

font-main    = 'Lucinda Grande', Arial, sans-serif
font-heading = 'MuseoSans500', serif

tab-active-shadow1 = 0 1px 0 rgba(255, 255, 255, 0.1)
tab-active-shadow2 = 0 1px 7px 0 rgba(0, 0, 0, 0.8) inset
tab-active-shadow  = tab-active-shadow1, tab-active-shadow2

input-shadow1 = 0 1px 0 rgba(255, 255, 255, 0.1)
input-shadow2 = 0 1px 7px 0 rgba(0, 0, 0, 0.8) inset
input-shadow  = input-shadow1, input-shadow2
