div.container
  div.title.sixteen.columns
    span.main= title
    span.info.user(title='click to sign out')
      a.title.logout(href='#')= titleInfo
  div#content.content
    div#center.sixteen.columns.center
      ul.tabs
        li#feeds-tab Feeds
        li#posts-tab Posts
    div#feeds-content.tab-content
      div#feeds-edit
      div#feeds-list
    div#posts-content.tab-content
      span POSTS VIEW
