div.container_16
  header#banner.grid_16(role='banner')
    h3.main= title
    h3.info.user(title='click to sign out')
      a.title.logout(href='#posts')= titleInfo
  div#content.grid_16
    div#tabs-nav-container
      nav#tabs-nav.tabs(role='navigation')
        a#feeds-tab.tab(href='#feeds') Feeds
        a#posts-tab.tab.active(href='#') Posts
    div#feeds-content.tab-content
      div#feeds-edit
        input.search(name='feed-input', type='text', placeholder='Enter a feed name or url')
        div.button.subscribe Subscribe
      ul#feeds-list
      div#search
        div.header
          a.button.close(href='#feeds') Close Search
          h4.title Search Results
        ul#search-list
    div#posts-content.tab-content
      ul#posts-list
