script(language='javascript')
  if (navigator.appVersion.indexOf('Win') != -1) {
    document.write('<link rel="stylesheet" href="/css/site.win.css" type="text/css" />');
  } else if (navigator.appVersion.indexOf('Linux') != -1) {
    document.write('<link rel="stylesheet" href="/css/site.lin.css" type="text/css" />');
  } else {
    document.write('<link rel="stylesheet" href="/css/site.css" type="text/css" />');
  }

